body > .holster {
    scroll-behaviour: smooth;
    scroll-snap-type: y mandatory;
}

main > section {
    scroll-snap-align: center;
    box-shadow: 0px 2px 3px var(--theme-shadow);
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: space-around;
}

main section > .section-header {
    flex: 1 0 0;
}

main section > .section-content {
    flex-grow: 1;
}

footer {
    scroll-snap-align: end;
}

main > .columns {
    display: flex;
    flex-direction: column;
}

main > .columns > section {
    padding-inline: 1rem;
    scroll-snap-align: start;
}

@media(min-width: 700px){
    main > .columns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	scroll-snap-align: none;
    }
}

/* Service List */
.service-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* .service-list > * { */
/*     scroll-snap-align: center; */
/* } */

@media(min-width: 700px){
    .service-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
    }

    .service-list > * {
	scroll-snap-align: none;
    }
}

/* Button Component */
.button {
    padding: 0.5rem 1rem;
    border-radius: 50em;
    border: none;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 0.25s,
		color 0.1s,
		box-shadow 0.1s;
    box-shadow: 1px 2px 3px var(--theme-shadow);
}

.button:active {
    box-shadow: inset 1px 2px 3px var(--theme-shadow);
}

.button.button-primary {
    background: var(--c-green);
    color: var(--c-deepspace);
}

.button.button-primary:hover {
    background: var(--c-green-darker);
    color: var(--c-white);
}

.button.button-secondary {
    background: var(--c-white);
    color: var(--theme-header-light);
}

.button.button-secondary:hover {
    background: var(--theme-superlight);
    color: var(--theme-text-light-secondary);
}


